$hover-color: #2196f3;
$animation-hover: rgba(33, 150, 243, 0.9);
$font-color: #212121;
$form-box-color: rgba(33, 33, 33, 0.2);
$bg-color: #2f303a;
$nr-color-alpha: rgba(117, 117, 117, 0.5);
$nr-color: #757575;
$foot-font-color: rgba(255, 255, 255, 0.6);
$newsletter-border: rgba(255, 255, 255, 0.3);
$main-bg-color: #e5e5e5;
$team-bg-color: #f5f4fa;
$border-portfolio: #eeeeee;
$border-header: #ececec;
$icon-color: #afb1b8;
$X-button: #e9e9ea;
