.asset-list {
  display: flex;
  padding: 0px 15px;
  margin-bottom: -94px;
}
.asset-list__paragraph-headline {
  color: var(--font-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}
.asset-list__paragraph-text {
  color: $nrColor;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.asset-list__icon {
  display: flex;
  width: 270px;
  height: 120px;
  padding: 25px 100px 25px 100px;
  background-color: $teamBgColor;
  margin-bottom: 30px;
  border-radius: 4px;
}
