.client-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.client-list__border {
  border: solid var(--icon-color) 1px;
  border-radius: 4px;
  cursor: pointer;
}
.client-list__border:hover,
.client-list__border:focus {
  border-color: var(--hover-color);
}
.client-list-icon {
  fill: var(--icon-color);
  padding: 17.71px 32px 14.25px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-icon:hover,
.client-list-icon:focus {
  fill: var(--hover-color);
}
