.foot {
  background-color: $bgColor;
  display: flex;

  &__links {
    margin: 0px 0px 60px 15px;
    display: flex;
    font-style: normal;
  }

  &--logo {
    color: white;
    display: block;
    margin: 60px 0px 20px 0px;
  }
  &__street {
    color: white;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  &__contact {
    color: $footFontColor;
    text-decoration: none;
  }
  &__contact:hover,
  &__contact:focus {
    color: $hoverColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__contact--mail {
    display: inline-flex;
    padding: 9px 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__headline {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.03em;
  }
}

.join-us {
  display: flex;
  margin: 72px 0px 0px 70px;
  flex-direction: column;
  align-items: flex-start;

  &__list {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }
  &__icon-circle {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  &__icon-circle:hover,
  &__icon-circle:focus {
    background-color: $hoverColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    fill: #fff;
    cursor: pointer;
  }
}
.newsletter {
  display: flex;
  flex-direction: column;
  margin: 72px 0px 0px 78px;

  &-form {
    margin-top: 20px;
    align-items: center;
    display: flex;
  }
  &-mail__mailbox {
    width: 358px;
    height: 50px;
    background-color: $bgColor;
    border: 1px $newsletterBorder solid;
    border-radius: 4px;
    color: #fff;
    padding: 15px 0px 15px 16px;
    outline: none;
  }
  &-mail__mailbox::placeholder {
    color: $footFontColor;
  }
  &-btn {
    background-color: $hoverColor;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  &-btn__font {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #fff;
    letter-spacing: 0.06em;
    display: inline;
  }
  &-btn__icon {
    fill: #fff;
    position: relative;
    top: 6px;
    left: 12px;
  }
}
