.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px;
  border-color: $borderHeader;
  min-width: 100%;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  font-family: 'Raleway';
  line-height: 1.17;
  color: #000;
  text-decoration: none;

  &--blue {
    color: $hoverColor;
  }
}

.menu {
  justify-content: center;
  align-items: center;
  display: flex;
  column-gap: 46px;
  margin: 32px 345px 30px 93px;

  &__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $fontColor;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item--highlight {
    color: $hoverColor;
    text-decoration: none;
  }

  &__item--highlight::after {
    content: '';
    height: 4px;
    width: 100%;
    background-color: $hoverColor;
    display: flex;
    border-radius: 2px;
    position: relative;
    top: 31px;
  }
  &__item:hover,
  &__item:focus {
    color: $hoverColor;
  }
}
.contact {
  margin: 32px 12px 32px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  &__link {
    text-decoration: none;
  }
  &__link--color {
    color: $nrColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $nrColor;
  }

  &__link:hover,
  &__link:focus {
    color: $hoverColor;
    fill: $hoverColor;
  }
  &__icon {
    margin-right: 10px;
  }
}
