.page--color {
  background-color: white;
}
.page__image {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.page__image--overlay {
  display: block;
  background: rgba(47, 48, 58, 0.4);
}
.page__image-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin: 106px 252px 30px 252px;
}
.page__btn {
  color: white;
  background-color: $hoverColor;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  align-items: center;
  margin-left: 500px;
  margin-bottom: 106px;
}
.page__section-header {
  color: $fontColor;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
