.team-section {
  background-color: var(--team-bg-color);
}
.team-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.team-list__item-box {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-details {
  display: flex;
  flex-direction: column;
}
.team-details__name {
  color: var(--font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 30px 0px 10px 0px;
}
.team-details__position {
  color: var(--nr-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 16px;
}
.team-icon-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}
.team-icon-list__circle {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.team-icon-list__circle:hover,
.team-icon-list__circle:focus {
  background-color: var(--hover-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  fill: var(--icon-color);
  cursor: pointer;
}
.team-icon-list__item:hover,
.team-icon-list__item:focus {
  fill: white;
}
