$hoverColor: #2196f3;
$animationHover: rgba(33, 150, 243, 0.9);
$fontColor: #212121;
$formBoxColor: rgba(33, 33, 33, 0.2);
$bgColor: #2f303a;
$nrColorAlpha: rgba(117, 117, 117, 0.5);
$nrColor: #757575;
$footFontColor: rgba(255, 255, 255, 0.6);
$newsletterBorder: rgba(255, 255, 255, 0.3);
$mainBgColor: #e5e5e5;
$teamBgColor: #f5f4fa;
$borderPortfolio: #eeeeee;
$borderHeader: #ececec;
$iconColor: #afb1b8;
$XButton: #e9e9ea;
